go 1.24.0

use (
	.
	./adapters/gorm
	./adapters/sql
	./cmd/aegis
	./examples/basic
	./features/credential-password
	./features/oauth
	./features/oauth-github
	./features/oauth-google
	./features/oauth-generic
	./features/two-factor
)

replace github.com/thecodearcher/aegis v0.0.0 => ./

replace github.com/thecodearcher/aegis/adapters/gorm v0.0.0 => ./adapters/gorm

replace github.com/thecodearcher/aegis/adapters/sql v0.0.0 => ./adapters/sql

replace github.com/thecodearcher/aegis/features/credential-password v0.0.0 => ./features/credential-password

replace github.com/thecodearcher/aegis/features/oauth v0.0.0 => ./features/oauth

replace github.com/thecodearcher/aegis/features/oauth-google v0.0.0 => ./features/oauth-google

replace github.com/thecodearcher/aegis/features/oauth-github v0.0.0 => ./features/oauth-github

replace github.com/thecodearcher/aegis/features/oauth-generic v0.0.0 => ./features/oauth-generic

replace github.com/thecodearcher/aegis/features/two-factor v0.0.0 => ./features/two-factor
