go 1.24.0

use (
	.
	./adapters/gorm
	./adapters/sql
	./cmd/aegis
	./examples/basic
	./plugins/credential-password
	./plugins/oauth
	./plugins/oauth-github
	./plugins/oauth-google
	./plugins/oauth-generic
	./plugins/oauth-discord
	./plugins/oauth-facebook
	./plugins/oauth-microsoft
	./plugins/oauth-spotify
	./plugins/oauth-twitch
	./plugins/oauth-twitter
	./plugins/oauth-linkedin
	./plugins/two-factor
	./plugins/session-jwt
)

replace github.com/thecodearcher/aegis v0.0.0 => ./

replace github.com/thecodearcher/aegis/adapters/gorm v0.0.0 => ./adapters/gorm

replace github.com/thecodearcher/aegis/adapters/sql v0.0.0 => ./adapters/sql

replace github.com/thecodearcher/aegis/plugins/credential-password v0.0.0 => ./plugins/credential-password

replace github.com/thecodearcher/aegis/plugins/oauth v0.0.0 => ./plugins/oauth

replace github.com/thecodearcher/aegis/plugins/oauth-google v0.0.0 => ./plugins/oauth-google

replace github.com/thecodearcher/aegis/plugins/oauth-github v0.0.0 => ./plugins/oauth-github

replace github.com/thecodearcher/aegis/plugins/oauth-generic v0.0.0 => ./plugins/oauth-generic

replace github.com/thecodearcher/aegis/plugins/oauth-discord v0.0.0 => ./plugins/oauth-discord

replace github.com/thecodearcher/aegis/plugins/oauth-facebook v0.0.0 => ./plugins/oauth-facebook

replace github.com/thecodearcher/aegis/plugins/oauth-microsoft v0.0.0 => ./plugins/oauth-microsoft

replace github.com/thecodearcher/aegis/plugins/oauth-spotify v0.0.0 => ./plugins/oauth-spotify

replace github.com/thecodearcher/aegis/plugins/oauth-twitch v0.0.0 => ./plugins/oauth-twitch

replace github.com/thecodearcher/aegis/plugins/oauth-twitter v0.0.0 => ./plugins/oauth-twitter

replace github.com/thecodearcher/aegis/plugins/oauth-linkedin v0.0.0 => ./plugins/oauth-linkedin

replace github.com/thecodearcher/aegis/plugins/two-factor v0.0.0 => ./plugins/two-factor

replace github.com/thecodearcher/aegis/plugins/session-jwt v0.0.0 => ./plugins/session-jwt
